.container {
  width: min(100% -30px, 1080px);
  margin-inline: auto;
}

header {
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  background-color: #bfc8d9;
}

body {
  background-color: #eef2f8;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  margin-top: 40px;
  gap: 40px;
}

.logo {
  height: 50%;
  margin-top: 20px;
  border-radius: 10px;
}

nav {
  padding-top: 30px;
  padding-right: 100px;
}

.menu {
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
   color: rgb(13, 65, 150);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}

a:hover {
  transform: translateY(-2px);
  color: rgb(26, 95, 208);
}

.profile-photo {
  height: 50px;
  margin-top: 15px;
  border-radius: 50%;
  border: 3px solid rgb(103, 136, 197);
  box-shadow: 0 0 10px rgb(103, 136, 197);
}

#header-photo {
  cursor: pointer;
  position: relative;
}

.dialog {
  position: absolute;
  margin-top: 30px;
  right: 50px; 
}

#profile-modal {
  max-width: 320px;
  width: 100%;
  background: rgb(235, 239, 246);
  border: 3px solid rgb(231, 234, 240);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
}

.section-divider {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color: rgb(11, 54, 124);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 1.7rem;
  border-bottom: 2px solid #a19e9e;
  padding-top: 1rem;
  margin-top: 1rem;
}

#modal-photo {
  margin-bottom: 10px;
}

#modal-name {
 font-weight: 650;
}

#user-modal {
  margin-left: 20px;
  font-weight: 500;
}

#modal-name,
#user-modal {
  text-shadow: 1px 1px 1px rgba(130, 124, 124, 0.5);
}


.identity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;  
}

.identity span {
  margin: 0;
}


.label {
  font-weight: 650;
  color: rgb(11, 54, 124);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.modal-row {
  display: flex;
  gap: 5px;
}


#modal-pages,
#modal-groups {
  list-style: none;
}

.value {
  color: rgb(11, 54, 124);
  font-weight: 650; 
}

.hidden {
  display: none; 
}

.post-generator {
  width: 40%;
  background-color: #bfc8d9;
  padding: 20px;
  border-radius: 10px;
}

.post-header {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.username {
  margin-top: 25px;
  font-weight: 650;
}

textarea {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(247, 246, 246);
  padding: 10px;
  margin-top: 10px;
  resize: none;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#upload {
  display: none;
}

.upload-container {
  display: flex;
}

#file-name-display {
 font-size: 1.3rem;
 font-weight: 500;
 margin-top: 10px;
 margin-left: 5px;
}

i {
  font-size: 3rem;
  color: rgb(21, 94, 210);
  cursor: pointer;
}

i:hover {
  color: rgb(22, 71, 150);

}

button {
  padding: 0px 20px;
  background-color: rgb(21, 94, 210);
  border-radius: 5px;
  font-weight: 700;
  transition: transform 0.25s ease-in-out;
  color: rgb(5, 18, 39);
}

button:hover {
  color: rgb(198, 211, 241);
  box-shadow: 0 0 10px rgb(32, 111, 239);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.post-container {
  background-color: #bfc8d9;
  padding: 20px;
  border-radius: 10px;
}

.post-info {
  padding-top: 25px;
}

.date {
  margin-left: 280px;
}

.posted-text {
  margin-bottom: 15px;
}

.post-image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 10px;
}


.posts-feed {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px; 
  margin-top: 20px;
  margin-bottom: 20px;
}

