.container {
 width: min(100% -30px, 1080px);
 margin-inline: auto;
}

header {
  display: flex;
  justify-content: space-evenly;
  height:80px;
  background-color: #bfc8d9;
}

body {
  background-color:#eef2f8;
  font-family: "Roboto", sans-serif;
}

.logo {
  height: 50%;;
  margin-top: 20px; 
  border-radius: 10px; 
}

nav {
  padding-top: 30px;
  padding-right: 100px;
}

.menu {
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  color: rgb(26, 95, 208);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  transition: transform 0.3s ease-in-out;
}

a:hover {
  transform: translateY(-2px);
  color: rgb(13, 65, 150);

}
